apachephpfcgi:
    build: images/apache-php
    ports:
        - "9999:9999"
    links:
        - "mysqlphpfcgi:mysql"
    volumes:
        - ./www:/var/www/
        - ./config/apache2:/etc/apache2
mysqlphpfcgi:
    image: mysql:5.7.13
    expose:
        - "3306"
    environment:
        MYSQL_ROOT_PASSWORD: magentostore
        MYSQL_DATABASE: magentostore
        MYSQL_USER: magentostore
        MYSQL_PASSWORD: magentostore
    volumes:
        - ./database/magento_sample_data_for_1.9.1.0.sql:/docker-entrypoint-initdb.d/schema.sql
